*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #66641a;
  margin: 0 auto;
  width: 60%;
  height: 100%;
  box-shadow: 5px 5px 20px #666;
}

/* header */
header {
  position: fixed;
  width: inherit;
  top: 0;
  overflow: hidden;
  background-color: green;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

#title{
  padding: 2em;
}

/*nav*/
nav{
  overflow: hidden;
  background-color: #333;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

nav li{
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover{
  background: #111;
}

/*main*/
main {
  margin-top: 300px;
  overflow: auto;
}
