body{
  margin: 0;
}

main {
  margin-top: 130px;
  overflow: auto;
}

/* header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
  background-color: green;
}

nav{
  text-align: right;
}

nav.p{
  background-color: red
}
