*{
  margin: 0 auto;
}

body{
  background-color: #66641a;
}

.bodyMain {
  width: 60%;
  height: 100%;
  box-shadow: 5px 5px 20px #666;
}

/* header */
header {
  position: fixed;
  width: inherit;
  top: 0;
  overflow: hidden;
  background-color: green;
}



/*nav*/
nav{
  box-sizing: border-box;
  overflow: hidden;
  background-color: gray;
}

nav h2{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
}

nav li{
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover{
  background: #999999;
  color:red;
}

/*main*/
main {
  margin-top: 130px;
  overflow: auto;
}
